input[type="text"], textarea {
    font-family: monospace;
    width: 80%;
    border: 1px solid #555;
    outline: 1px solid transparent;
    margin: 2px;
    resize: vertical;
}

input:focus, textarea:focus {
    outline: none;
}

input[type="text"]:focus, textarea:focus {
    outline: 1px solid #555;
    border-radius: 2px;
}

input[type="submit"] {
    font-family: monospace;
    background-color: white;
    border: 1px solid #555;
    outline: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
}

input[type="submit"]:hover {
    outline: 1px solid #555;
    cursor: pointer;
}

div {
    font-family: monospace;
}

label {
    font-family: monospace;
    display: inline-block;
}

body {
    background-color: #ffd1dc;
}

.col-25 {
    float: left;
    width: 25%;
}

.col-75 {
    float: left;
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  input[type="text"], textarea {
    width: 98%;
}

}